* {
	box-sizing: border-box
}
html{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
	margin: 0;
	margin-top: 3em;
	background-color: #e6f7ff;
}

.main{
	max-width: 1024px;
	margin: auto;
}

p {
	font-size: 16px;
}

h1{
	font-family: Lucida Handwriting;
}
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 12px 0;
	text-decoration: none;
	font-size: 17px;
	width: 50%;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}

.center {
	max-width: 50%;
	margin: auto;
}

.menu {
	width: 100%
}

.edit{ 
	margin-top: -0.25em;
	width: calc(100vw - (100vw - 100%));
}

.image{
	width: 50%;
	margin: auto;
}

footer{
	bottom: 0px;
	background-color: rgb(94, 171, 206);
	border-radius: 15px 15px 0px 0px;
	width: 100%;
	margin: auto;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

footer .column {
	float: left;
	width: 50%;
	padding: 5px;
}

footer .column a{
	display: block;
	color: #000000;
	text-decoration: none;
	font-size: 10px;
	margin-top: 1.5rem;
}

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}

.contact p, address {
	font-size: 8px;
}

address, .contact, .text_center, .name, .maintenance, footer .column, .navbar a {
	text-align: center;
}
.icon{
	margin-top: -0.5rem;
}

.location{
	font-size: 16px;
}

.name{
	font-size: 72px;
}
.maintenance{
	font-size: 36px;
}

@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
} /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_equal_width*/

/* @media only screen and (min-width: 1024px) {
	.edit{ 
		margin-left: calc((1024px - 100vw)/2);
		
	} 
} */